.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  border-bottom: 1px solid var(--color-border-header);
  height: 9.6rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.6rem;
}

.name {
  color: var(--color-text-normal);
}

.footer {
  margin-top: auto;
  text-align: center;
  padding-bottom: 1.6rem;
}

.copy {
  font-size: 1.2rem;
  color: var(--color-text-normal);
  margin-bottom: 0.8rem;
}

.social {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.socialIcon {
  color: var(--color-text-normal);
}

.socialIcon:not(:last-child) {
  margin-right: 1rem;
}

.socialIcon:hover {
  color: var(--color-accent);
}
