html {
  font-size: 62.5%;
}

@media screen and (max-width: 495px) {
  html {
    font-size: 56.25%;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
  background-color: var(--color-background);
  overflow-x: hidden;
}
